html {
  scroll-behavior: smooth;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.timeline-item:nth-child(even) {
  margin-left: auto;
}

@media (max-width: 768px) {
  .timeline-item {
    margin-left: 0 !important;
  }
}

/* Navbar styles */
#navbar {
  transition: all 0.3s ease-in-out;
}
